/* ///////////////////////////// Layout .entete */

.chk__menu {
  display: none;
}
.chk__menu:checked ~ .entete__nav {
  display: flex;
  flex-direction: column;
  .entete__menu {
    flex-direction: column;
  }
}

.entete {
  background-color: blanchedalmond;
  &__contenu {
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    width: 75px;
    height: 75px;
  }
  /*  /////////////////////// Navigation */
  &__nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 0 2rem 0 auto;
    @media screen and (max-width: $point-rupture) {
      display: none;
    }
  }
  &__burger {
    display: none;
    @media screen and (max-width: $point-rupture) {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  &__menu {
    // ul
    display: flex;
    list-style-type: none;
    gap: 1rem;
  }
  &__menu-item {
    //li

    a {
      display: block;
      background-color: beige;
      &:hover {
        background-color: rgb(233, 227, 177);
      }
    }
  }
}
