.menu{ // ul
    display : flex;
    flex-direction: row;
    @media screen and (max-width : $point__rupture) {
        flex-direction: column; 
        gap : 8px 0;
     }
    list-style-type: none;
    &__item{ //li
        &__a{ //a
            padding : 3px;
            background-color: rgba(0,0,0,0.01);
            &:hover{
                background-color: rgba(0,0,0,0.05);
            }
        }

    }
}